<section class="capabilities">
  <div class="capabilities-container">

    <!-- Header -->
    <div class="capabilities__header">
      <h2 class="capabilities__title">Key Capabilities</h2>

    </div>

    <!-- Grid -->
    <div class="capabilities__grid">
      <!-- Full Width Card -->
      <div class="cap-card cap-card--full">
        <img [src]="keyCapabilitiesData.keyCapabilityConfigurationImage" alt="" />
        <!-- <p>Autonomous Robotic Systems / Plant / Line / Robotic Simulations</p> -->
      </div>

    </div>
  </div>
</section>