<div class="dropdown">

  <label>{{ label }}</label>

  <div class="dropdown__control" (click)="toggle($event)">
    <span>{{ selected || 'Select'}}</span>
    <span class="arrow" [class.rotate]="isOpen">▾</span>
  </div>

  <div class="dropdown__menu" *ngIf="isOpen">

    <!-- <div class="dropdown__item"
         (click)="selectAll()">
      All
    </div> -->

    <div class="dropdown__item"
         *ngFor="let option of options"
         (click)="select(option)">

      {{ displayKey ? option[displayKey] : option }}

    </div>

  </div>

</div>

