<section class="story-form">


    <!-- <form [formGroup]="storyForm" class="story-form"> -->

    <!-- HEADER -->

    <section class="hero" [ngStyle]="{'background-image': 'url(' + storyDetails.thumbnailImageUrl + ')'}">
        <img [src]="leftArrowIconPath" alt="backtostories" class="back-icon" (click)="navigateBack()">
        <div class="hero-overlay"></div>

        <div class="hero-content">
            <h1>
                {{ storyDetails?.title }} <br />
                <!-- Experience Zone -->
            </h1>

            <p class="subtitle">{{ storyDetails?.description }}</p>

        </div>
    </section>



    <div class="button-group">
        <app-custom-dropdown label="Client Credential" [options]="clientCredentials" displayKey="artifactName"
            (optionSelected)="onArtifactSelected($event)" formControlName="clientCredential">
        </app-custom-dropdown>

        <app-custom-dropdown label="Demo Videos" [options]="demoVideos" displayKey="artifactName"
            (optionSelected)="onArtifactSelected($event)" formControlName="demoVideo">
        </app-custom-dropdown>

        <app-custom-dropdown label="Client Testimonials" [options]="clientTestimonials" displayKey="artifactName"
            (optionSelected)="onArtifactSelected($event)" formControlName="clientTestimonial">
        </app-custom-dropdown>


        <label class="btn-checkbox">
            <input type="checkbox" class="faq-checkbox" (change)="toggleFaqGuide($event)" />
            <span class="checkbox-text">FAQ & Guide</span>
        </label>
    </div>

    <!-- BUSINESS PROBLEM -->
    <section class="info-section">
        <h3 class="label-header">
            <img [src]="alertIconPath" alt="alert" class="label-icon"> Business Problem
        </h3>
        <div class="divider"></div>
        <div class="info-body" [innerHTML]="storyDetails.businessProblem">
        </div>
    </section>

    <!-- SOLUTION -->
    <section class="info-section">
        <h3 class="label-header">
            <img [src]="solutionIconPath" alt="solution" class="label-icon"> Solution
        </h3>
        <div class="divider"></div>
        <div class="info-body" [innerHTML]="storyDetails.solutions">
        </div>
    </section>

    <!-- VALUE DELIVERED -->
    <section class="info-section">
        <h3 class="label-header">
            <img [src]="line_graphIconPath" alt="value" class="label-icon"> Value Delivered
        </h3>
        <div class="divider"></div>
        <div class="info-body" [innerHTML]="storyDetails.valueDelivered">
        </div>
    </section>


    <!-- TOOLS & TECHNOLOGY -->
    <section class="info-section highlight" *ngIf="storyDetails?.toolsAndTechnologies">
        <h3 class="label-header" style="color:#fff;">
            <img [src]="caliperIconPath" alt="tools" class="label-icon"> Tools & Technology
        </h3>
        <div class="divider"></div>
        <div class="info-body" [innerHTML]="storyDetails.toolsAndTechnologies">
        </div>
    </section>

    <!-- KEY RESULTS -->
    <section class="info-section" *ngIf="storyDetails?.keyResults">
        <h3 class="label-header">
            <img [src]="targetIconPath" alt="target" class="label-icon"> Key Results
        </h3>
        <div class="divider"></div>
        <div class="info-body" [innerHTML]="storyDetails.keyResults">
        </div>
    </section>

    <!-- NARRATION GUIDE -->
    <section class="info-section" *ngIf="showNarrationGuideAndFAQ">
        <h3 class="label-header">
            <img [src]="chequeIconPath" alt="cheque" class="label-icon"> Narration Guide
        </h3>
        <div class="divider"></div>
        <div class="info-body" [innerHTML]="storyDetails.businessProblem">
        </div>
    </section>

    <!-- FAQ -->
    <!-- FAQ Section (View Mode with Toggle) -->
    <section class="info-section" *ngIf="showNarrationGuideAndFAQ">
        <h3 class="label-header">
            <img [src]="locationIconPath" alt="faq" class="label-icon"> FAQ
        </h3>
        <div class="divider"></div>

        <div class="faq-item" *ngFor="let faq of storyDetails?.faqs">
            <div class="faq-header-row" (click)="faq.showAnswer = !faq.showAnswer">
                <span class="faq-question">{{ faq.question }}</span>
                <button type="button" class="accordion-btn"
                    (click)="faq.showAnswer = !faq.showAnswer ; $event.stopPropagation()">
                    <img [src]="faq.showAnswer ? upArrowIconPath : downArrowIconPath" alt="toggle answer" />
                </button>
            </div>

            <div class="faq-body" *ngIf="faq.showAnswer">
                <p>{{ faq.answer }}</p>
            </div>
        </div>
    </section>

    <!-- </form> -->
</section>