<section class="hero">
  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1>
      Industry X - Digital Manufacturing <br />
      Experience Zone
    </h1>

    <p class="subtitle">Stories That Demonstrate Real-World Impact</p>

  </div>

  <div class="hero-title-overlay">Digital Manufacturing Overview</div>

  <div class="hero-overview" aria-label="Digital Manufacturing overview cards">

    <div class="overview-card">
      <div class="value">150+</div>
      <div class="label">Client Stories</div>
    </div>

    <div class="overview-card">
      <div class="value">50+</div>
      <div class="label">MES/MOM solutions delivered</div>
    </div>

    <div class="overview-card">
      <div class="value">124+</div>
      <div class="label">Production Site support for Critical apps</div>
    </div>

    <div class="overview-card">
      <div class="value">30+</div>
      <div class="label">SAP EWM programs delivered</div>
    </div>

    <div class="overview-card">
      <div class="value">30+</div>
      <div class="label">SAP EWM programs delivered</div>
    </div>
  </div>
</section>
