<section class="hero">
  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1>
      {{heroData.applicationName}} <br />
      
    </h1>

    <p class="subtitle">{{heroData.title}}</p>

  </div>

  <div class="hero-title-overlay">{{heroData.subTitle}}</div>

  <div class="hero-overview" aria-label="Digital Manufacturing overview cards">

    <div class="overview-card">
      <div class="value">{{approvedCount}}+</div>
      <div class="label">Client Stories</div>
    </div>

    <div class="overview-card">
      <div class="value">{{heroData.mesMomSolDelivered}}+</div>
      <div class="label">MES/MOM solutions delivered</div>
    </div>

    <div class="overview-card">
      <div class="value">{{heroData.prodSiteCriticalSupport}}+</div>
      <div class="label">Production Site support for Critical apps</div>
    </div>

    <div class="overview-card">
      <div class="value">{{heroData.sapEwmPrgDelivered}}+</div>
      <div class="label">SAP EWM programs delivered</div>
    </div>

    <!-- <div class="overview-card">
      <div class="value">30+</div>
      <div class="label">SAP EWM programs delivered</div>
    </div> -->
  </div>
</section>