<form [formGroup]="homePageForm" class="homePage-form">
    <div class="config">
        <div class="breadcrumb">
            <a [routerLink]="['/admin']" class="breadcrumb-link active">Admin</a>
            <span class="breadcrumb-separator">›</span>
            <a [routerLink]="['/admin/configuration']" class="breadcrumb-link active">Configurations</a>
            <span class="breadcrumb-separator">›</span>
            <a href="#" class="breadcrumb-link active">Home Page Configuration</a>
        </div>
    </div>
    <!-- Hero Section Accordion -->
    <section class="card hero-config">
        <h3 class="label-header" (click)="toggleAccordion('hero')">
            <img src="assets/icons/hexagon.png" alt="document" class="label-icon">
            Hero Section Configuration
            <span class="accordion-icon">
                <img [src]="isAccordionOpen.hero ? upArrowIconPath : downArrowIconPath" />
            </span>
        </h3>
        <div class="divider"></div>

        <div class="accordion-body" *ngIf="isAccordionOpen.hero">
            <!-- Existing Hero Section Content -->
            <div class="form-grid">
                <div class="form-field full-width">
                    <label>Application Name (Shown on Navbar)</label>
                    <input type="text" formControlName="applicationName"
                        placeholder="Industry X - Digital Manufacturing Experience Zone">
                </div>
                <div class="form-field full-width">
                    <label>Title</label>
                    <input type="text" formControlName="title"
                        placeholder="Industry X - Digital Manufacturing Experience Zone">
                </div>
                <div class="form-field full-width">
                    <label>Subtitle</label>
                    <input type="text" formControlName="subtitle"
                        placeholder="Stories That Demonstrate Real-World Impact">
                </div>
            </div>

            <div class="upload-box">
                <h4>Hero Image</h4>
                <img [src]="imagePreviews['heroImage'] || 'assets/hero-bg.png'" class="banner-preview"
                    alt="Hero Preview">
                <div class="upload-row">
                    <button type="button" class="uploadImg-btn" (click)="updateImage('heroImage')">
                        <img [src]="exchangeIcon" alt="upload icon" class="upload-icon" /> Update Image
                    </button>
                    <span class="file-name">{{ homePageForm.get('heroImage')?.value || 'Supported files .jpg, .jpeg,
                        .png up to 1MB' }}</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Digital Manufacturing Overview Accordion -->
    <section class="card overview-config">
        <h3 class="label-header" (click)="toggleAccordion('overview')">
            <img src="assets/icons/change_history.png" alt="overview" class="label-icon">
            Digital Manufacturing Overview Configuration
            <span class="accordion-icon">
                <img [src]="isAccordionOpen.overview ? upArrowIconPath : downArrowIconPath" />
            </span>
        </h3>
        <div class="divider"></div>

        <div class="accordion-body" *ngIf="isAccordionOpen.overview">
            <!-- Existing Overview Content -->
            <div class="stats-grid">
                <div class="stat-item">
                    <label>Client Stories</label>
                    <input type="text" formControlName="clientStories" value="150+">
                </div>
                <div class="stat-item">
                    <label>MES/MOM solutions delivered</label>
                    <input type="text" formControlName="mesMomSolutions" numericPlus  value="50+" placeholder="Enter number">
                </div>
                <div class="stat-item">
                    <label>Production Site support for Critical apps</label>
                    <input type="text" formControlName="productionSupport" numericPlus  value="124+" placeholder="Enter number">
                </div>
                <div class="stat-item">
                    <label>SAP EWM programs delivered</label>
                    <input type="text" formControlName="sapEwmPrograms" numericPlus value="30+" placeholder="Enter number">
                </div>
                <div class="stat-item">
                    <label>SAP EWM programs delivered (TBD)</label>
                    <input type="text" formControlName="sapEwmProgramsTbd" numericPlus value="30+" placeholder="Enter number">
                </div>
            </div>
        </div>
    </section>

    <!-- Industries Accordion -->
    <!-- <section class="card industries-config">
        <h3 class="label-header" (click)="toggleAccordion('industries')">
            <img src="assets/icons/square.png" alt="industry" class="label-icon">
            Industries Thumbnail Configuration
            <span class="accordion-icon">
                <img [src]="isAccordionOpen.industries ? upArrowIconPath : downArrowIconPath" />
            </span>
        </h3>
        <div class="divider"></div>

        <div class="accordion-body" *ngIf="isAccordionOpen.industries">
            <div class="industries-grid">
                <div class="industry-item">
                    <p>Consumer Package Goods</p>
                    <img [src]="imagePreviews['industriesCPG'] || 'assets/CPG.png'" alt="Consumer Package Goods">
                    <button class="upload-btn" (click)="updateImage('industries')">
                        <img [src]="exchangeIcon" alt="exchange icon" class="btn-icon" />
                        Update
                    </button>
                </div>
                <div class="industry-item">
                    <p>Life Sciences</p>
                    <img src="assets/Life Sciences.png" alt="Life Sciences">
                    <button class="upload-btn" (click)="updateImage('industries')">
                        <img [src]="exchangeIcon" alt="exchange icon" class="btn-icon" />
                        Update
                    </button>
                </div>
                <div class="industry-item">
                    <p>Industrials</p>
                    <img src="assets/Industrials.png" alt="Industrials">
                    <button class="upload-btn" (click)="updateImage('industries')">
                        <img [src]="exchangeIcon" alt="exchange icon" class="btn-icon" />
                        Update
                    </button>
                </div>
                <div class="industry-item">
                    <p>Energy</p>
                    <img src="assets/Energy.png" alt="Energy">
                    <button class="upload-btn" (click)="updateImage('industries')">
                        <img [src]="exchangeIcon" alt="exchange icon" class="btn-icon" />
                        Update
                    </button>
                </div>
                <div class="industry-item">
                    <p>Utilities</p>
                    <img src="assets/Utilities.jpg" alt="Utilities">
                    <button class="upload-btn" (click)="updateImage('industries')">
                        <img [src]="exchangeIcon" alt="exchange icon" class="btn-icon" />
                        Update
                    </button>
                </div>
                <div class="industry-item">
                    <p>Chemicals & Natural Services</p>
                    <img src="assets/Chemical and Natural Resources.png" alt="Chemicals & Natural Services">
                    <button class="upload-btn" (click)="updateImage('industries')">
                        <img [src]="exchangeIcon" alt="exchange icon" class="btn-icon" />
                        Update
                    </button>
                </div>
                <div class="industry-item">
                    <p>High Tech</p>
                    <img src="assets/High Tech Industry.png" alt="High Tech">
                    <button class="upload-btn" (click)="updateImage('industries')">
                        <img [src]="exchangeIcon" alt="exchange icon" class="btn-icon" />
                        Update
                    </button>
                </div>
            </div>
        </div>
    </section> -->

    <section class="card industries-config">
        <h3 class="label-header" (click)="toggleAccordion('industries')">
            <img src="assets/icons/square.png" alt="industry" class="label-icon">
            Industries Thumbnail Configuration
            <span class="accordion-icon">
                <img [src]="isAccordionOpen.industries ? upArrowIconPath : downArrowIconPath" />
            </span>
        </h3>
        <div class="divider"></div>

        <div class="accordion-body" *ngIf="isAccordionOpen.industries">
            <div class="industries-grid">
                <div class="industry-item" *ngFor="let industry of industriesArray.controls; let i = index">
                    <p>{{ industry.value.name }}</p>
                    <img [src]="industryPreviews[i] || industry.value.defaultImage" [alt]="industry.value.name">
                    <button class="upload-btn" (click)="updateImage('industries', i)">
                        <img [src]="exchangeIcon" alt="exchange icon" class="btn-icon" /> Update
                    </button>
                    <span class="file-name">
                        {{ industry.value.fileName || 'Supported files .jpg, .jpeg, .png up to 1MB' }}
                    </span>
                </div>
            </div>
        </div>
    </section>



    <!-- Featured Stories Configuration -->
    <section class="card featured-config">
        <h3 class="label-header" (click)="toggleAccordion('featured')">
            <img src="assets/icons/change_history.png" alt="featured" class="label-icon">
            Featured Stories Configuration
            <span class="accordion-icon">
                <img [src]="isAccordionOpen.featured ? upArrowIconPath : downArrowIconPath" />
            </span>
        </h3>
        <div class="divider"></div>

        <div class="accordion-body" *ngIf="isAccordionOpen.featured">
            <div class="stories-grid">
                <div class="stories-grid">
                    <div *ngFor="let story of featuredSlots; let i = index" class="story-wrapper">
                        <!-- If story exists, render card -->
                        <div *ngIf="story; else placeholder" class="story-card">
                            <img [src]="story.thumbnailImageUrl" [alt]="" class="story-image">
                            <div class="story-card__content">
                                <span class="industry-subindustry-border-bottom">
                                    {{story.industryName}} • {{story.subIndustryName}}
                                </span>
                                <h3>{{ story.title }}</h3>
                                <p class="truncate-3-lines">{{ story.description }}</p>
                                <div class="tags">
                                    <span *ngFor="let tag of story.tags">{{ tag }}</span>
                                </div>
                            </div>
                        </div>
                        <button *ngIf="story" class="btn-delete" (click)="removeStory(i)">
                            <span class="close-icon">✕</span> Remove
                        </button>

                        <!-- Placeholder -->
                        <ng-template #placeholder>
                            <div class="story-card choose-card" (click)="openStoryModal()">
                                <div class="story-content centered">
                                    <h4>Choose a Featured Story</h4>
                                    <p>Select a story to highlight on your dashboard</p>
                                    <button class="select-btn">Select Story</button>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Key Capabilities Configuration -->
    <section class="card capabilities-config">
        <h3 class="label-header" (click)="toggleAccordion('capabilities')">
            <img src="assets/icons/change_history.png" alt="capabilities" class="label-icon">
            Key Capabilities Configuration
            <span class="accordion-icon">
                <img [src]="isAccordionOpen.capabilities ? upArrowIconPath : downArrowIconPath" />
            </span>
        </h3>
        <div class="divider"></div>

        <div class="accordion-body" *ngIf="isAccordionOpen.capabilities">
            <!-- Replace grid with a single image -->
            <p style="font-size: 24px; font-weight: 600;">Key Capability Image</p>
            <img [src]="imagePreviews['keyCapabilitiesImage'] || 'assets/cards.png'" alt="Key Capabilities"
                class="capabilities-image" />

            <div class="upload-row">
                <button class="uploadImg-btn" (click)="updateImage('keyCapabilitiesImage')">
                    <img [src]="exchangeIcon" alt="exchange icon" class="btn-icon" />
                    Update Image
                </button>
                <span class="file-name">{{ homePageForm.get('keyCapabilitiesImage')?.value || 'Supported files .jpg,
                    .jpeg,
                    .png up to 1MB' }}</span>
            </div>
        </div>
    </section>



    <!-- Action Buttons -->
    <div class="button-group">
        <button type="button" class="btn-cancel">Cancel</button>
        <!-- <button type="button" class="btn-draft">
        <img src="assets/icons/save.png" class="btn-icon" alt="draft"> Save
    </button> -->
        <button type="button" class="btn-approve" (click)="onSaveChanges()">
            <img src="assets/icons/save_white.png" class="btn-icon" alt="approve"> Save Changes
        </button>
    </div>

</form>


<!-- Modal Overlay -->
<div class="modal-overlay" *ngIf="showStoryModal">
    <div class="modal">

        <div class="modal-header">
            <h3>Select a Featured Story</h3>
            <button class="close-btn" (click)="showStoryModal = false">✕</button>
        </div>

        <div class="divider"></div>

        <div class="filters">
            <!-- Industry -->
            <app-custom-dropdown label="Industry" [options]="industries" displayKey="industryName"
                [(ngModel)]="selectedIndustryId" (optionSelected)="onIndustrySelected($event)">
            </app-custom-dropdown>

            <!-- Sub Industry -->
            <app-custom-dropdown label="Sub-Industry" [options]="subIndustries" displayKey="subIndustryName"
                (optionSelected)="onSubIndustrySelected($event)">
            </app-custom-dropdown>

            <!-- Value Chain -->
            <app-custom-dropdown label="Value Chain" [options]="valueChains" displayKey="valueChainName">
            </app-custom-dropdown>

            <div class="search">
                <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (input)="applyFilters()" />
                <button style="margin-bottom: 14px;">🔍</button>
            </div>
        </div>
        <!-- Empty state -->
        <div class="stories__header" *ngIf="!isLoading && filteredStories.length === 0 && !showAdminControls">
            <h1 class="stories__title">No Active Stories</h1>
        </div>
        <!-- Grid state -->
        <div class="stories__grid">
            <div class="story-card" *ngFor="let story of filteredStories" (click)="selectStory(story)">
                <div class="story-card__media">
                    <img [src]="story.thumbnailImageUrl" [alt]="story.industryName" />
                </div>
                <div class="story-card__content">
                    <span class="industry-subindustry-border-bottom">
                        {{story.industryName}} • {{story.subIndustryName}}
                    </span>
                    <h3>{{ story.title }}</h3>
                    <p class="truncate-3-lines">{{ story.description }}</p>
                    <div class="tags">
                        <span *ngFor="let tag of story.tag">{{ tag }}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>