<!-- <app-navbar></app-navbar> -->

<app-hero *ngIf="heroData" [heroData]="heroData"></app-hero>

<div class="overview">
  <!-- <div class="overview-header" (click)="toggle()">
    <span>Digital Manufacturing Overview</span>
    <span class="icon" [class.rotate]="isOpen">▾</span>
  </div>

  <div class="overview-content" *ngIf="isOpen">
    <div class="stats-grid">
      <div *ngFor="let stat of statistics" class="stat-item">
        <div class="stat-number">{{ stat.number }}</div>
        <div class="stat-label">{{ stat.label }}</div>
      </div>
    </div>
  </div> -->
</div>

<app-industries *ngIf="industriesData" [industriesData]="industriesData"></app-industries>

<app-featured-stories *ngIf="featuredStoriesData" [featuredStoriesData]="featuredStoriesData"></app-featured-stories>

<app-key-capabilities *ngIf="keyCapabilitiesData" [keyCapabilitiesData]="keyCapabilitiesData"></app-key-capabilities>

